@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta aplicación es un módulo de administración de personas y usuarios.</p>
</div>
