@model PersonApp.Domain.DTO.PersonaDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizar registro</h1>

<h4>PersonaDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoIdentificacion" class="control-label"></label>
                <input asp-for="IdTipoIdentificacion" class="form-control" />
                <span asp-validation-for="IdTipoIdentificacion" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="NumIdentificacion" class="control-label"></label>
                <input asp-for="NumIdentificacion" type="number" min="0" step="1" class="form-control" />
                <span asp-validation-for="NumIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
